body{
    height: 100%;
    display: flex;
    justify-content: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    height: 450px;
    width: 350px;
}

.screen-container {
    border: 1px solid red;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.top-screen,
.bot-screen {
    border:1px solid green;
    display: flex;
    justify-content: end;
}

.top-screen {
    flex: 2;
    align-items: center;
}

.bot-screen {
    flex: 5;
    align-items: center;
}

.row-container {
    display: flex;
    border: 1px solid blue;
    flex: auto;
    display: flex;
    justify-content: space-around;
}

.row-container div {
    border: 1px solid pink;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
